.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  overflow: hidden;
  touch-action: none;
}

.header {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  font-family: "Francois One";
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.headerTitleContainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.headerTitle {
  padding-left: 100px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.headerTitle:hover {
  text-decoration: underline;
}

.headerNavBarContainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.headerNavBar {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.navBarItem,
.selectedNavBarItem {
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.selectedNavBarItem {
  background-color: #4e4376;
  cursor: default;
}

.navBarItem:hover {
  background-color: #008394;
}

.navBarItem:active {
  opacity: 0.6;
  transition: 0s;
}

.sectionsContainer {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}

.leftSection,
.rightSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px;
  font-size: 1.2rem;
}

.leftSection {
  width: 35%;
  align-items: center;
  justify-content: flex-start;
}

.rightSection {
  align-items: flex-start;
  justify-content: flex-start;
}

.logoContainer {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.logo {
  height: 100%;
  width: 100%;
}
