.container {
  align-items: center;
}

.header {
  margin-top: 50px;
  font-size: 1.6rem;
}

.subHeader {
  margin-top: 10px;
  font-size: 1.2rem;
}

.link {
  color: #00e1ff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inputHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
  font-size: 1.1rem;
}

.inputHeader:nth-child(1) {
  margin-top: 20px;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin-top: 10px;
}

.input,
.invalidInput {
  height: 100%;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  border-style: none;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-size: 1.1rem;
  caret-color: black;
  background-color: white;
}

.input:focus {
  outline: none;
  border-color: rgba(0, 131, 148, 1);
}

.invalidInput {
  border-color: red;
  color: red;
}

.invalidMessage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: red;
  opacity: 0;
}

.visibleErrorMessage {
  opacity: 1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-style: none;
  border-radius: 10px;
  height: 47px;
  width: 200px;
  font-size: 1.2rem;
  font-family: "Francois One";
  color: white;
  background-color: #008394;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.button:hover {
  background-color: #005661;
}

.button:active {
  opacity: 0.6;
  transition: 0s;
}

.buttonContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    font-size: 1.4rem;
    text-align: center;
  }
  .subHeader {
    text-align: center;
  }
  .inputContainer {
    width: 80%;
  }
  .input {
    font-size: 1.2rem;
  }
}
