.visibleContainer,
.invisibleContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  z-index: 3;
  backdrop-filter: blur(5px);
}

.visibleContainer {
  animation: 0.3s ease-out 0s 1 slideLeftContainer forwards;
}

.invisibleContainer {
  animation: 0.3s ease-out 0s 1 slideRightContainer forwards;
}

@keyframes slideLeftContainer {
  0% {
    opacity: 0;
    right: -50%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes slideRightContainer {
  0% {
    opacity: 1;
    right: 0;
  }
  100% {
    opacity: 0;
    right: -50%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.xContainer {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 45px;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.xContainer:hover {
  background-color: #008394;
}

.xContainer:active {
  opacity: 0.8;
  transition: 0s;
}

.x {
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
