.container,
.extendedContainer,
.initialContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 1s;
}

.initialContainer {
  height: 330px;
}

.container {
  height: 360px;
  animation: 0.3s ease-out 0s 1 unextendContainer forwards;
}

@keyframes unextendContainer {
  0% {
  }
  100% {
    height: 330px;
  }
}

.extendedContainer {
  height: 350px;
  animation: 0.3s ease-out 0s 1 extendContainer forwards;
}

@keyframes extendContainer {
  0% {
  }
  100% {
    height: 360px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.2rem;
}

.header:nth-child(3) {
  margin-top: 50px;
}

.icon {
  height: 18px;
  width: 18px;
  padding-right: 10px;
  margin-left: 20px;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
}

.input,
.invalidInput,
.disabledInput,
.link {
  height: 100%;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  border-style: none;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-size: 1.1rem;
  color: #2db82d;
  caret-color: black;
  background-color: white;
}

.input:focus {
  outline: none;
}

.invalidInput {
  border-color: red;
  color: red;
}

.invalidMessage {
  position: absolute;
  left: 0;
  bottom: -35px;
  font-size: 1rem;
  font-weight: bold;
  color: red;
}

.errorCircleContainer {
  position: absolute;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 8%;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
  backdrop-filter: blur(5px);
}

.errorCircle {
  color: red;
}

.disabledInput {
  color: black;
  font-weight: bold;
  background-color: #e2fafd;
}

.link {
  display: flex;
  align-items: center;
  width: unset;
  padding-right: 10px;
  color: black;
  font-weight: bold;
  background-color: #e2fafd;
}

.slash {
  font-size: 1.4rem;
  padding-left: 5px;
  padding-right: 5px;
}

.buttonContainer,
.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 100%;
}

.mainButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  border-radius: 10px;
  height: 47px;
  width: 130px;
  font-size: 1.2rem;
  font-family: "Francois One";
  color: white;
  background-color: #008394;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.mainButton:hover {
  background-color: #005661;
}

.mainButton:active {
  opacity: 0.6;
  transition: 0s;
}

.spinner {
  color: white;
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonsContainer {
  position: absolute;
  bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  width: 100%;
  margin-top: 0px;
  opacity: 0;
  animation: 0.3s ease-out 0s 1 fadeIn forwards;
}

@keyframes fadeIn {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.firstRowButton,
.secondRowButton,
.shareButtonActive,
.qrButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-style: none;
  border-radius: 10px;
  border: 1px solid;
  height: 40px;
  width: 20%;
  font-size: 1.1rem;
  font-family: "Francois One";
  color: white;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.qrButton {
  width: 70px;
}

.firstRowButton:hover,
.secondRowButton:nth-child(1):hover,
.qrButton:hover {
  border-color: #008394;
  background-color: #008394;
}

.firstRowButton:nth-child(2),
.shareButtonActive {
  width: 30%;
  border-color: #4e4376;
  background-color: #4e4376;
}

.firstRowButton:nth-child(2):hover {
  border-color: #008394;
  background-color: rgba(0, 0, 0, 0);
}

.shareButtonActive {
  border-color: #008394;
  background-color: rgba(0, 0, 0, 0);
  transition: 0s;
}

.firstRowButton:active,
.secondRowButton:active,
.qrButton:active {
  opacity: 0.6;
  transition: 0s;
}

.secondRowButton {
  height: 45px;
  border-color: #008394;
}

.secondRowButton:nth-child(1) {
  width: 25%;
  border-color: #008394;
  background-color: rgba(0, 0, 0, 0);
}

.secondRowButton:nth-child(2) {
  width: 45%;
  background-color: #008394;
}

.secondRowButton:nth-child(2):hover {
  border-color: #4e4376;
  background-color: rgba(0, 0, 0, 0);
}

.shareContainer,
.sideBarShareContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 450px;
  border: 1px solid #008394;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Nunito";
  background-color: #282c47;
}

.shareContainer {
  top: -320px;
}

.sideBarShareContainer {
  bottom: -320px;
}

.triangle,
.sideBarTriangle {
  position: absolute;
  bottom: -15px;
  transform: rotateX(-180deg);
  color: #008394;
  z-index: -1;
}

.sideBarTriangle {
  top: -15px;
  transform: rotateX(0deg);
}

.shareContainerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 15%;
  width: 60%;
}

.shareContent {
  display: flex;
  align-items: center;
  height: 85%;
  width: 90%;
  flex-direction: row;
}

.shareButtonsContainer,
.qrCodeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
}

.shareButton {
  display: flex;
  align-items: center;
}

.shareButton:hover {
  text-decoration: underline;
}

.shareButtonText {
  margin-left: 15px;
}

.qrCodeContainer {
  align-items: center;
  width: 60%;
}

.qrCode {
  height: 150px;
  width: 150px;
}

.qrButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
